/* THUMB */

.salary-range-container
.salary-range input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: #06b6d4;
    border-radius: 50%;
    cursor: pointer;
}

.salary-range-container
.salary-range input::-ms-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: #06b6d4;
    border-radius: 50%;
    cursor: pointer;
}

.salary-range-container
.salary-range input::-moz-range-thumb {
    -moz-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: #06b6d4;
    border-radius: 50%;
    cursor: pointer;
}

/* THUMB WHEN ACTIVE */

.salary-range-container
.salary-range input::-webkit-slider-thumb:active {
    box-shadow: 0px 0px 0px 5px #06b5d444;
}

.salary-range-container
.salary-range input::-ms-thumb:active {
    box-shadow: 0px 0px 0px 5px #06b5d444;
}

.salary-range-container
.salary-range input::-moz-range-thumb:active {
    box-shadow: 0px 0px 0px 5px #06b5d444;
}

/* EXPERIENCE LEVEL RADIO */

.radio-container input {
    position: relative;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 18px;
    height: 18px;
    border: solid 1.4px #E5E7EB;
    border-radius: 50%;
}

.radio-container input:checked {
    background: #FFF;
    border: solid 6px #06b6d4;
}

.ql-container.ql-snow {
    height: 300px !important;
    overflow: auto;
    overflow-y: scroll !important;
}

.ql-container.ql-snow::-webkit-scrollbar {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 12px;
    background: #f1f1f1;
}

.ql-container.ql-snow::-webkit-scrollbar-thumb {
    background: rgb(138, 138, 138);
}

@media (max-width: 640px) {
    
    .sidebar {
        transform: translateX(-14em);
    }
}